Django==5.2.17
djangorestframework==3.18.1
djangorestframework_simplejwt==5.5.1
drf-spectacular==0.30.0
psycopg[binary]==3.3.6
redis==8.1.0
python-decouple==3.8
gunicorn==26.2.0
whitenoise==6.12.0
pytest==9.1.1
pytest-django==4.14.0
